* {
    margin: 0px;
    padding: 0px;
}

.body-container {
    width: 100vw;
    height: 100vh;

    background-color: lightcyan;
    
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

.heading-container {
    margin: 3%;
    padding: 3%;
    border-bottom: 1px solid black;
    text-align: center;
}

#title {
    padding: 2%;
    font-weight: 700;
    color:rgb(44, 158, 162);
    text-shadow: 1px -1px 2px rgb(164, 164, 164);
}

#card-count{
    padding-bottom: 2%;
    color: rgb(83, 83, 83);

    span {
        color:rgb(71, 186, 71)
    }
}

#set-desc {
    color: rgb(73, 73, 73);
    font-weight: 300;
}

#longest-streak {
    color: rgb(53, 53, 53);
    font-weight: 500;
}

.card-container {
    margin: 1%;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.control-button {
    background-color: rgb(253, 152, 152, 0.90);

    font-size: 18px;
    color: rgb(52, 52, 52);

    padding: 10px;
    margin-top: 2%;
    margin: 5px;

    border: none;
    border-radius: 20%;
}

.correct-ans{
    background-color: lightgreen;
}

.wrong-ans{
    background-color: lightcoral;
}

.check-button {
    background-color: rgb(253, 152, 152, 0.90);

    font-size: 14px;
    color: rgb(52, 52, 52);

    padding: 7px;
    margin-top: 2%;
    margin: 5px;

    border: none;
    border-radius: 20%;
}